.operatorContainer {
  width: 100%;
}

.operatorDisplay {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: center;
  justify-content: space-between;
}

.operatorInfo {
  display: flex;
  flex-direction: column;
  gap: 0;
}

.currentOperatorValue {
  font-family: monospace;
  color: var(--text-secondary);
}

.operatorValue {
  font-weight: 500;
  color: var(--text-secondary);
  font-family: monospace;
  font-size: var(--font-size-xs);
}

.currentOperator {
  font-size: var(--font-size-xs);
  color: var(--text-tertiary);
}

.operatorSetButton {
  background-color: var(--success-color);
  border-color: var(--success-color);
  height: calc(3 * var(--font-size-xs));
  font-size: var(--font-size-xs);
  padding: auto 1rem;
}

.operatorSetStatus {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.operatorSetText {
  font-weight: 500;
}

.operatorSetCheckmark {
  font-weight: bold;
}

.errorMessage {
  color: var(--danger-color);
  margin-top: 0.5rem;
  padding: 0.5rem;
  background-color: var(--danger-bg);
  border: 1px solid var(--danger-border);
  border-radius: 4px;
}

.stepDescription {
  font-size: var(--font-size-xs);
  margin-bottom: var(--spacing-md);
  color: var(--text-tertiary);
}
